<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>All departments</h1>

    <table>
        <tr>
            <th>Department</th>
            <th>Min salary</th>
            <th>Max salary</th>
        </tr>

        <div th:each="department: ${departments}" th:remove="tag">
            <tr>
                <td th:text="${department.name}"></td>
                <td th:text="${department.minSalary}"></td>
                <td th:text="${department.maxSalary}"></td>
            </tr>
        </div>


    </table>

</body>
</html>