<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="${#httpServletRequest.getRequestURL()}" th:object="${department}">
    <label>
        <span th:text="'Department: '"></span>
        <input type="text" name="name" th:field="*{name}"/>
    </label>
    <br>
    <label>
        <span th:text="'Max salary: '"></span>
        <input type="text" name="maxSalary" th:field="*{maxSalary}"/>
    </label>
    <br>
    <label>
        <span th:text="'Min salary: '"></span>
        <input type="text" name="minSalary" th:field="*{minSalary}"/>
    </label>
    <br>

    <input type="submit" value="Submit">
</form>

</body>
</html>