<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Ask details</title>
</head>
<body>
<!--/*@thymesVar id="employee" type="github.nikhrom.javatraining.spring.mvc.introduction.dto.EmployeeDto"*/-->
<form action="#" th:action="@{/employee}" th:object="${employee}" method="post">
    <p>
        <label th:text="#{name}"></label>
        <input type="text" th:field="*{name}" />
    </p>
    <p>
    <label th:text="#{lastName}"></label>
    <input type="text" th:field="*{lastName}" />
    </p>
    <p>
    <label th:text="#{age}"></label>
    <input type="text" th:field="*{age}" />
    </p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>
