<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>View details</title>
</head>
<body>

<h1 th:text="#{template.view-employee-details.greeting}">!!!</h1>
<!--/*@thymesVar id="employee" type="github.nikhrom.javatraining.spring.mvc.introduction.dto.EmployeeDto"*/-->
<p th:with="employee = ${employee}">
    <span th:text="#{name}"></span> <p th:text="${employee.name}"></p>
    <span th:text="#{lastName}"></span> <p th:text="${employee.lastName}"></p>
    <span th:text="#{age}"></span> <p th:text="${employee.age}"></p>
</p>

</body>
</html>
