<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:h2:mem:postgres</property>
    <property name="connection.driver_class">org.h2.Driver</property>
    <property name="connection.username"/>
    <property name="connection.password"/>
    <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create</property>

    <mapping class="github.nikhrom.javatraining.advanced_hibernate.entity.User"/>
    <mapping class="github.nikhrom.javatraining.advanced_hibernate.entity.Company"/>
    <mapping class="github.nikhrom.javatraining.advanced_hibernate.entity.Profile"/>
    <mapping class="github.nikhrom.javatraining.advanced_hibernate.entity.Chat"/>
    <mapping class="github.nikhrom.javatraining.advanced_hibernate.entity.UserChat"/>
    <mapping class="github.nikhrom.javatraining.advanced_hibernate.entity.Manager"/>
    <mapping class="github.nikhrom.javatraining.advanced_hibernate.entity.Programmer"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>